<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Level Ground</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Caslon+Text:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+Pro&family=Source+Serif+Pro:wght@400;600&display=swap"
		rel="stylesheet">

	<link
		href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Caslon+Text:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&family=Source+Sans+Pro&family=Source+Serif+Pro:wght@400;600&display=swap"
		rel="stylesheet">

	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="https://kit.fontawesome.com/b9615f4769.js" crossorigin="anonymous"></script>
</head>

<body>
	<section class="top-wrapper">
		<header>
			<nav>
				<ul>
					<li><a href="#">Classes</a></li>
					<li><a href="#">Hire Us</a></li>
				</ul>
			</nav>

			<a href="" class="logo">
				<img src="https://github.com/Bishwahangdewan/Storage/blob/master/100devs/logo.png?raw=true" alt="logo">
			</a>

			<a href="" class="btn"><span>Donate</span></a>
		</header>

		<main class="clear">
			<h1>WHERE GRIT MEETS OPPORTUNITY</h1>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatibus officia nulla soluta magnam
				eius vero, temporibus numquam, ratione ullam doloremque ex nobis, in sint! Eveniet maxime laborum ex
				tenetur.</p>
			<div><span><i class="fas fa-solid fa-circle-play"></i></i>Watch the video</span></div>
		</main>
	</section>

	<section>
		<h2>WHY</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam soluta, neque reprehenderit quasi modi
			dignissimos! Pariatur beatae alias cupiditate harum molestiae obcaecati reiciendis fugiat voluptatibus quae,
			saepe ipsa sit unde.</p>
	</section>

	<section>
		<section>
			<img src="" alt="">
			<h3>VISIT THE GYM</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolor ullam voluptate voluptates minima
				nobis consequatur, eveniet commodi iusto aliquid temporibus. Repellat sint deleniti ab consectetur,
				voluptas ad in? Reiciendis.</p>
			<button>SEE CLASSES</button>
		</section>

		<section>
			<img src="" alt="">
			<h3>HAVE US VISIT YOU</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolor ullam voluptate voluptates minima
				nobis consequatur, eveniet commodi iusto aliquid temporibus. Repellat sint deleniti ab consectetur,
				voluptas ad in? Reiciendis.</p>
			<button>HIRE US</button>
		</section>
	</section>

	<section>
		<h1>VOLUNTEER WITH LEVEL GROUND</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque itaque quas nesciunt modi nobis
			reprehenderit voluptatibus qui! Reiciendis quia optio excepturi expedita quos officiis natus consequuntur
			illum architecto molestias.</p>
		<button>Volunteer</button>
	</section>

	<footer>
		<section>
			<ul>
				<li>facebook icon</li>
				<li>twitter icon</li>
				<li>mail icon</li>
			</ul>

			<span>Site Map</span>
			<ul>
				<li><a href="#">Classes</a></li>
				<li><a href="#">Hire Us</a></li>
			</ul>

			<span>Contribute</span>
			<ul>
				<li><a href="#">Give</a></li>
				<li><a href="#">Volunteer</a></li>
			</ul>
		</section>

		<section>
			<span>
				Level Ground<br>
				Mixed Martial Arts
			</span>

			<span>
				50 Milk street , Floor 17
				Boston MA ,12029
				123-456-7895
				Alllevelground@MMA.org
			</span>
		</section>

		<section>
			<p>
				Level Ground Mixed Martial Art is a tax exempt.
			</p>

			<a href="">
				Logo
			</a>
		</section>
	</footer>


	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>